<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<string>Closed</string>
		<string>Closed</string>
		<string>Closed</string>
		<string>Closed</string>
		<string>Closed</string>
		<string>Closed</string>
		<string>Closed</string>
	</array>
	<key>1</key>
	<array>
		<string>Closed</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>12:00 p.m.—8:00 p.m.</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>12:00 p.m.—8:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
	</array>
	<key>2</key>
	<array>
		<string>Closed</string>
		<string>12:00 p.m.—8:00 p.m.</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>12:00 p.m.—8:00 p.m.</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
	</array>
	<key>3</key>
	<array>
		<string>Closed</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>10:00 a.m.—6:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
		<string>Closed</string>
	</array>
	<key>4</key>
	<array>
		<string>1:00 p.m.—5:00 p.m.</string>
		<string>9:00 a.m.—9:00 p.m.</string>
		<string>9:00 a.m.—9:00 p.m.</string>
		<string>9:00 a.m.—9:00 p.m.</string>
		<string>9:00 a.m.—9:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
	</array>
	<key>5</key>
	<array>
		<string>1:00 p.m.—5:00 p.m.</string>
		<string>9:00 a.m.—7:00 p.m.</string>
		<string>9:00 a.m.—7:00 p.m.</string>
		<string>9:00 a.m.—7:00 p.m.</string>
		<string>9:00 a.m.—7:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
		<string>9:00 a.m.—5:00 p.m.</string>
	</array>
</dict>
</plist>
